/* Write your CSS here */
.configuration-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}

@media screen and (min-width: 768px) {
  .configuration-controls-container {
    align-items: center;
  }
}

.responsive-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .responsive-controls-container {
    max-width: 1100px;
  }
}

.layout-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .layout-heading {
    font-size: 50px;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 12px;
}
